DIRECT_URL="postgresql://postgres.qvanezzllbcrvmqexzoq:YOUR_DATABASE_PASSWORD@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_GROUP_CHAT_ID=""
CRON_SECRET=""
MANUAL_REPORT_PIN=""
APP_PIN=""
APP_SESSION_SECRET=""
KPAY_WEBHOOK_SECRET="optional_webhook_secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
